body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container * {
    background: transparent;
}

.search {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

#city {
    padding: 10px;
    font-size: 16px;
    flex: 1;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    background: peru;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#suggestions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

.weather {
    margin-top: 20px;
}

#icon {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: none;
}

#temperature {
    font-size: 2em;
    margin: 10px 0;
}

#description, #humidity, #wind {
    font-size: 1.2em;
    color: #555;
}
